*.cache
TankCommand/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TankCommand/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TankCommand/obj/Debug/TankCommand.csproj.FileListAbsolute.txt
.vs/config/applicationhost.config
.vs/config/applicationhost.config
.vs/TankCommand/v15/.suo
.vs/TankCommand/v15/Server/sqlite3/db.lock
.vs/TankCommand/v15/Server/sqlite3/storage.ide
.vs/TankCommand/v15/Server/sqlite3/storage.ide-shm
.vs/TankCommand/v15/Server/sqlite3/storage.ide-wal
TankCommand/obj/Debug/TankCommand.dll
TankCommand/obj/Debug/TankCommand.pdb
TankCommand/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TankCommand/obj/Debug/Tsc.out
TankCommand/bin/ColladaLoader.js
TankCommand/bin/TankCommand.dll
TankCommand/bin/TankCommand.dll.config
TankCommand/bin/TankCommand.pdb
.vs/config/applicationhost.config
*.map
TankCommand/TankCommand.csproj.user
*.js
TankCommand/web.config
TankCommand/web.Debug.config
TankCommand/web.Release.config
